nav
{
	padding: 10px
}

ul
{
	color: black;
	list-style: none;
	display: flex;
	justify-content: flex-end;
	margin:0;
	padding: 0
}
li
{
	margin-left: 20px;
	float:left;
	justify-content: center;
	align-items: center;
}

.logo
{
	padding-top: 15px;
	display: flex;
	justify-content: center
}
.Connexion
{
	background: rgb(72,133,237);
	color: white ;
	padding: 10px;
	margin-left: -125px;
}
.gmail
{
	display: flex;
	justify-content: center;
}
.images
{
	display: flex;
	justify-content: center;
}
.searchbar
{
	height: 40px;
	padding-top: 15px;
	display: flex;
	justify-content: center;
	box-sizing: content-box;

}

.searchbutton
{
	margin: 20px;
	padding-top: 20px;
	display: flex;
	justify-content: center;
	background: rgb(255,255,255);

}

.language
{
	margin: 20px;
	padding-top: 20px;
	display: flex;
	justify-content: center;
	background: rgb(255,255,255);

}